.Notifications {
  border: 3px dashed rgb(242, 54, 85);
  padding: 10px;
  position: absolute;
  right: 2rem;
  top: 3rem;
  left: 50%;
}

[data-priority='default'] {
  color: blue;
}
[data-priority='urgent'] {
  color: red;
}
.menuItem {
  text-align: right;
}
